@import "~src/styles/typography";
@import "~src/styles/shadows";

:host {
  width: 100%;
  position: relative;
}

.list {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  height: calc(100vh - 194px);
}
