.companies-map {
  min-height: calc(100vh - 300px);
  height: 100%;
  width: 100%;
  position: relative;
}

google-map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.map-container {
  width: 100% !important;
  height: 100% !important;
}
