@import "typography";

.title {
  @include text-body\:lg;
  color: var(--gray600);
  margin-top: 1rem;
}

.image-wrapper {
  overflow: hidden;
  width: 100%;
  height: 418px;
}

.image {
  width: 100%;
  height: 100%;
}
