@import "~src/styles/typography";

.email-catalog {
  padding: 4.5rem 0;
}

.email-article {
  max-width: 40rem;
  width: 100%;
}

.image-wrapper {
  margin-left: auto;
}

.title {
  @include text-h500;
  color: var(--white);

  @screen md {
    @include text-h600;
  }
}

.subtitle {
  @include text-body\:lg;
  color: var(--main100);
  margin-top: 1rem;
}

.form {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.input {
  max-width: 23rem;
}

.marketing {
  @include text-body\:md;

  @screen md {
    @include text-body\:lg;
  }
  color: var(--main100);
}
