.btn {
  padding: 0.75rem 2.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  transition: 300ms;
  background-color: var(--primary800);
  color: var(--white);

  &:hover {
    background-color: var(--primary900);
  }
}
