:root {
  --white: #ffffff;
  --black: #000000;
  --gray900: #263238;
  --gray800: #37474f;
  --gray700: #455a64;
  --gray600: #546e7a;
  --gray500: #607d8b;
  --gray400: #78909c;
  --gray300: #90a4ae;
  --gray200: #b0bec5;
  --gray100: #cfd8dc;
  --gray50: #eceff1;

  --main900: #323ac5;
  --main800: #2c5de5;
  --main700: #2670f8;
  --main600: #1a83ff;
  --main500: #0093ff;
  --main400: #2ca3ff;
  --main300: #58b4ff;
  --main200: #8dcaff;
  --main100: #bbdeff;
  --main50: #e3f2ff;
  --main0: #f7f9fe;
}
