@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* You can add global styles to this file, and also import other style files */

@import "./styles/colors";
@import "./styles/content";
@import "./styles/shadows";
@import "./styles/typography";
@import "./styles/button";
@import "./styles/input";

body,
html {
  font-family: "Montserrat", sans-serif;
  background-color: var(--white100);
  height: 100%;
}

.separator {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 0.25rem;
  width: 5.75rem;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--main800);
  }
}

.max-container {
  max-width: 1216px;
  width: 100%;
  margin: 0 auto;
}

.container {
  padding: 1rem;
  margin: 0 auto;
}

.cdk-drag,
.cdk-drag-preview,
.cdk-drag-animating {
  transition: 0ms;
}

.cdk-drag-animating {
  transition: transform 0ms cubic-bezier(0, 0, 0.2, 1);
}

.full-height {
  overflow: hidden;
}
